/* Login.css */

.imagen-login {
    width: 100%; /* Cambia el valor según lo necesites */
    height: auto; /* Esto mantiene la proporción original de la imagen */
    max-width: none; /* Permite que la imagen sea más grande que su tamaño original */
}
